*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #fab22e;
}
#wrapper{
    width:400px;
    height: 300px; 
    background-color: black;
    position: relative;
    left: 500px;
    top:200px;
    text-align: center;
    padding-top: 10px;
    font-size: 60px;
    color: #fab22e;
}
button{
    justify-content: center;
    width: 170px;
    height: 70px;
    border-radius: 30px;
    position: absolute;
    top: 520px;
    left: 620px;
    color: #f3ba51;
    font-weight: 600;
    
}


span{
    position: absolute;
    left: 670px;
    top:130px;
    font-size: 48px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}